*{
    margin: 0px;
    padding: 0px;
}
.navbar {
    margin-bottom: 0;
}

.navbar navbar-default{
    margin-bottom: 0;
}

.footer_bottom{
    padding: 8px;
    background: #B0B0B0;
    height: 40px;
}

.footer_links{
    font-size: 18px;
    font-weight: bold;
}

.footer_links.active{
    color: white;
}

p{
    line-height: 26px;
}

#ask_btn{
    background: #009933;
    font-size: 20px;
    margin-left: 10px;
    color: white;
    height: 40px;
    width: 100px;
}

.tags{
    margin-top: 13px;
    float: bottom;
}

#search_nav_bar{
    background: #3333FF;
    padding: 30px;
    height: 120px;
    background-image: url("images/header.png");
}

#form_search{
    margin-left: 140px;
}

#search_text{
    height: 40px;
    width: 700px;
    margin-left: 10px;  //////////////////////////////////////////////////////////////////////////
}

#header{
    height: 40px;
    background: #F0F0F0;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

#header_content{
    padding: 5px;

}

#content_header{
    height: 35px;
    background: #F0F0F0;
    padding: 8px;
}

.bold_text{
    font-weight: bold;
    color: #505050;
}

.body_text{
    color: #505050;
    font-size: 13px;
}

#questions{
    margin-left: 100px;
}

#hamburger{
    background-image: url("/images/hamburger.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.question_panes{
    background: #f2f1ef;
    font-size: 16px;
    margin-bottom: 50px;
    padding: 12px;
    padding-left: 20px;
    height: 80px;
    margin-right: 50px;
    
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
    
    -webkit-box-shadow: 0px 20px 1px 1px rgba(181, 181, 181, 0.75);
    -moz-box-shadow:    0px 20px 1px 1px rgba(181, 181, 181, 0.75);
    box-shadow:         0px 20px 1px 1px rgba(181, 181, 181, 0.75);
}

#left_q
{
    width: 760px;
    float: left;
}

#right_q
{
    margin-left: 760px; /* Change this to whatever the width of your left column is*/
}

.clear_q
{
    clear: both;
}

#q_1{
    margin-top: 20px;
}

.statistics{
    margin-top: 0px;
    font-size: 30px;
}

#sort_by{
    margin-left: 200px;
}

#ask{
    margin-left: 100px;
}

#body_content{
    padding: 20px;
    margin-left: 86px;
}

#left{
    width: 950px;
    float: left;
}

#right{
    margin-left: 950px; 
    margin-right: 100px;
}

.clear
{
    clear: both;
}

