{% extends "base/base.html" %}

{% block title %}
	AskFedora Q/A
{% endblock %}

{% block content %}
	<div id="content_header">
                <div class="container">
                    <div class="row">

                        <div class="col-3">
                            <div class="container">
                                <div class="visible-lg">
                                    <font class="bold_text">10,799 questions</font>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <font class="bold_text top_links">SORT BY</font>
                                        <a href="#" class="top_links">Date</a>
                                        <a href="#" class="top_links">Activity</a>
                                        <a href="#" class="top_links">Answers</a>
                                        <a href="#" >Votes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class= "container" id="body_pane">
                <div class="row" >
                    <div class="col-sm-9">

                        <div id="tagged" class="hidden-sm">
                            <font class="bold_text">Tagged</font>&nbsp;&nbsp;<span class="label label-warning">Server</span>
                        </div>

                        <div class="container">
                            <div class="row question_panes" style="margin-left: 0.4%; margin-right: 0.4%">
                                <div class="col-xs-2 col-sm-2 col-md-2 hidden-lg" align="center" >
                                    <div class="left_q">
                                        <font class="statistics">7</font><br>
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-toggle="tooltip" data-original-title="Likes"></span>
                                    </div>
                                </div>

                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9" >

                                    <div class="right_q">
                                        Why does Barq's taste like sweetened Violini dfgdfgnfdkjg dfbgdfg etrhjghd?
                                        <div class="tags">
                                            <a href="#"><span class="label label-warning">server</span>&nbsp;&nbsp;</a>
                                            <a href="#"><span class="label label-default">barq</span>&nbsp;&nbsp;</a>
                                            <a href="#"><span class="label label-default">wololo</span></a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 visible-lg" >
                                    <div id="stats_pane" class="container">
                                        <div class="row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">33</font><br>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">37</font><br>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">15</font><br>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-toggle="tooltip" data-original-title="Likes"></span>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true" data-toggle="tooltip" data-original-title="Views"></span>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-original-title="Answers"></span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div> 

                        <div class="container">
                            <div class="row question_panes" style="margin-left: 0.4%; margin-right: 0.4%">
                                <div class="col-xs-2 col-sm-2 col-md-2 hidden-lg" align="center" >
                                    <div class="left_q">
                                        <font class="statistics">7</font><br>
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-toggle="tooltip" data-original-title="Likes"></span>
                                    </div>
                                </div>

                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9" >

                                    <div class="right_q">
                                        Why does Barq's taste like sweetened Violini dfgdfgnfdkjg dfbgdfg etrhjghd why does Barq's taste like sweetened Violini dfgdfgnfdkjg dfbgdfg etrhjghd why does Barq's taste like sweetened Violini dfgdfgnfdkjg dfbgdfg etrhjghd why does Barq's taste 
                                        <div class="tags">
                                            <a href="#"><span class="label label-warning">server</span>&nbsp;&nbsp;</a>
                                            <a href="#"><span class="label label-default">barq</span>&nbsp;&nbsp;</a>
                                            <a href="#"><span class="label label-default">wololo</span></a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 visible-lg">
                                    <div id="stats_pane" class="container">
                                        <div class="row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">26</font><br>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">17</font><br>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">48</font><br>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-toggle="tooltip" data-original-title="Likes"></span>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true" data-toggle="tooltip" data-original-title="Views"></span>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-original-title="Answers"></span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>   
                        <div class="container">
                            <div class="row question_panes" style="margin-left: 0.4%; margin-right: 0.4%">
                                <div class="col-xs-2 col-sm-2 col-md-2 hidden-lg" align="center" >
                                    <div class="left_q">
                                        <font class="statistics">7</font><br>
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-toggle="tooltip" data-original-title="Likes"></span>
                                    </div>
                                </div>

                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9" >

                                    <div class="right_q">
                                        Why does Barq's taste like sweetened Violini dfgdfgnfdkjg dfbgdfg etrhjghd?
                                        <div class="tags">
                                            <a href="#"><span class="label label-warning">server</span>&nbsp;&nbsp;</a>
                                            <a href="#"><span class="label label-default">barq</span>&nbsp;&nbsp;</a>
                                            <a href="#"><span class="label label-default">wololo</span></a>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 visible-lg" >
                                    <div id="stats_pane" class="container">
                                        <div class="row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">12</font><br>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">17</font><br>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <font class="statistics">19</font><br>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-toggle="tooltip" data-original-title="Likes"></span>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true" data-toggle="tooltip" data-original-title="Views"></span>
                                                    </div>
                                                    <div class="col-4" align="center">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-original-title="Answers"></span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>              

                    </div>

                    <div class="col-3">
                        <div class="hidden-sm" style="float: right" id="right_pane">
                            <div id = "sticky_questions">
                                <p><font class="bold_text">Sticky Questions</font></p>
                                <p><a href="#"><font class = "body_text">Why does one ever decide to drink Barq's?</font></a></p>
                                <p><a href="#"><font class = "body_text">Who decided to produce Barq's?</font></a></p>
                                <p><a href="#"><font class = "body_text">Is Barq's just a root beer for lame people?</font></a></p>
                                <p><a href="#"><font class = "body_text">What happens if you ignite a can of pressured soda?</font></a></p>
                                <p><a href="#"><font class = "body_text">more...</font></a></p>
                            </div>
                            <div id = "tags">

                                <font class="bold_text">Tags</font><br><br>
                                <p>
                                    <span class="label label-warning">server</span>&nbsp;&nbsp;<span class="label label-default">barq</span>
                                    <br>
                                    <span class="label label-default">Wololo</span>&nbsp;&nbsp;<span class="label label-default">Panda7</span>
                                    <br>
                                    <span class="label label-default">server</span>&nbsp;&nbsp;<span class="label label-default">barq</span>
                                    <br>
                                    <span class="label label-default">Wololo</span>&nbsp;&nbsp;<span class="label label-default">Panda7</span>
                                    <br>
                                    <span class="label label-success">Workstation</span>
                                    <br>
                                    <span class="label label-primary">cloud</span>&nbsp;&nbsp;<span class="label label-default">Barq</span>
                                    <br>
                                    <span class="label label-default">Barq</span>
                                    <br>
                                </p>
                            </div>
                        </div> <!-- end right pane -->
                    </div>

                </div><!-- end row -->
            </div><!-- end body_pane -->

        </div><!-- end container -->
{% endblock %}